* {
    transition: 200ms;
    font-family: "AdwaitaMono Nerd Font", monospace;
}

window {
    background-color: rgba(0, 0, 0, 0.5); 
}

button {
    color: #31546b;
    background-color: transparent;
    border: 2px solid #31546b;     
    border-radius: 0;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: rgba(49, 84, 107, 0.7);
    color: #000000;
    border: 2px solid #5e81ac;
}

#lock { background-image: image(url("/usr/share/wlogout/icons/lock.png")); }
#logout { background-image: image(url("/usr/share/wlogout/icons/logout.png")); }
#suspend { background-image: image(url("/usr/share/wlogout/icons/suspend.png")); }
#hibernate { background-image: image(url("/usr/share/wlogout/icons/hibernate.png")); }
#shutdown { background-image: image(url("/usr/share/wlogout/icons/shutdown.png")); }
#reboot { background-image: image(url("/usr/share/wlogout/icons/reboot.png")); }
